1. Basic Print

In [1]:
print('Hello, world!','Its me')

Hello, world! Its me

In [2]:
print('Hello, world!','Its me',sep='+')

Hello, world!+Its me

In [3]:
print('Hello, world!',end=';')
print('Hello, Mate!')
print('Bye')

Hello, world!;Hello, Mate!
Bye

In [4]:
sourceFile=open('python.txt','w')
print('Hello,','World!',sep='+',file=sourceFile)
sourceFile.close()

In [5]:
print('Hello, world!','Hello, Mate!',sep="+",end='\n')
print('Hello, world!','Hello, Mate!',sep="+")

Hello, world!+Hello, Mate!
Hello, world!+Hello, Mate!

Note: sep,end,file, and flush are keyword arguments. If you want to use them , you have to proper write them and then pass the value.

2. Comments in python

Comments is useful to explain code,to make the code more readable. Also it helps to prevent execution part of code while testing.

In [6]:
#This is first comment.We are printing hello world.
print("hello, world!")

hello, world!

In [7]:
print("hello, world!") #This is first comment.We are printing hello world.

hello, world!

In [8]:
#print("hello, world!")
print("hello, mate!")

hello, mate!

Multiline comments

In [9]:
#This is first comment
#we are printing
#'Hello, World!'
print("Hello, World!")

Hello, World!

In [10]:
"""
This is first comment
we are printing
'Hello, World!'
"""
print("Hello, World!")

Hello, World!

3. Variables in python

Variable is also known as an identifier and used to hold certain value.

Variable names can be a group of both the letters and digits, but they have to begin with a letter or an underscore.

The first character of the variable must be an alphabet or underscore ( _ ).

Except the first character, remaining can be an alphabet of lower-case(a-z),upper-case (A-Z),underscore or digit (0-9).

Identifier names are case sensitive; for example, myVariable, and MyVariable are not the same.

Identifier name must not contain any defined keywords, white-space, or special character (*,@,!,#,^,&,%).

In [12]:
a123 = 100

In [13]:
print(a123)

100

In [14]:
_mynum = 6.5

In [15]:
print(_mynum)

6.5

In [16]:
student="Devansh"
subject="Math"
age= 15
marks=78.5

In [17]:
print(student)
print(subject)
print(age)
print(marks)

Devansh
Math
15
78.5

In [18]:
StudentMarks=40
StudentAge=18
name_of_student='Ram'

In [19]:
print(name_of_student,StudentAge,StudentMarks)

Ram 18 40

In [20]:
a=b=c=d=100

In [21]:
print(a,b,c,d)

100 100 100 100

4. Data Types in python

In [22]:
print(type(student))
print(type(subject))
print(type(age))
print(type(marks))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

Python Data Types are used to define the type of a variable.

There are different types of data types in Python. Some built-in Python data types are:

Numeric data type: int, float, complex

String data type: str

Sequence type: list, tuple, range

Set data type: set, frozenset

Mapping data type: dict

Boolean type: bool

float holds floating precision numbers and it’s accurate up to 15 decimal places.

In [1]:
b= 100.98

In [2]:
print(type(b))

<class 'float'>

complex holds complex numbers

In [3]:
c=100+9j

In [4]:
print(type(c))

<class 'complex'>

String data type

str holds sequence of characters. strings can be represented by either single or double-quotes

In [5]:
a="This is first string in a double quotes"
b='This is second string in a single quote'

In [7]:
print(a)
print(b)

This is first string in a double quotes
This is second string in a single quote

In [8]:
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

Boolean type

Boolean - It is with one of the two built-in values, True or False.

True and False with capital ‘T’ and ‘F’ are valid booleans otherwise python will throw an error

In [9]:
a= True
b= False

In [10]:
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

5. Variable type casting

The process of converting given variable data type (example - integer, string, float, etc.) to another data type is called type conversion.

Python has two types of type conversion.

Implicit Type Conversion

Python automatically converts one data type to another data type. This process doesn't need any user involvement.

Explicit Type Conversion

Python need user involvement to convert the variable data type into certain data type in order to the required operation.

Implicit Type Conversion

In [11]:
a=5
print(type(a))

b=2.0
print(type(b))

c='Cloudyml'
print(type(c))

d='Python'
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [12]:
res0=a+b
print(res0)
print(type(res0))

7.0
<class 'float'>

Explicit Type Casting

In [13]:
a=5
print(a)
print(type(a))
res1=float(a)
print(res1)
print(type(res1))

5
<class 'int'>
5.0
<class 'float'>

In [14]:
a=13.0
print(a)
print(type(a))
res2=int(a)
print(res2)
print(type(res2))

13.0
<class 'float'>
13
<class 'int'>

In [15]:
a=5
print(a)
print(type(a))
res2=str(a)
print(res2)
print(type(res2))

5
<class 'int'>
5
<class 'str'>

In [16]:
a="5"
print(a)
print(type(a))
res2=int(a)
print(res2)
print(type(res2))

5
<class 'str'>
5
<class 'int'>

In [17]:
a="9.8"
print(a)
print(type(a))
res2=float(a)
print(res2)
print(type(res2))

9.8
<class 'str'>
9.8
<class 'float'>

In [18]:
a=9.8
print(a)
print(type(a))
res2=str(a)
print(res2)
print(type(res2))

9.8
<class 'float'>
9.8
<class 'str'>

6. Basic arithmetics

Arithmetic operators are used with numeric values to perform common mathematical operations

Addition

Subtraction

Multiplication

Division

Modulus

Exponentiation

Floor division

In [19]:
#addition 
a=30
b=20
sum=a+b
print(sum)

50

In [20]:
#subtraction
sub=a-b
print(sub)

10

In [21]:
#multiplication
mul=a*b
print(mul)

600

In [22]:
#division

div=a/b
print(div)
print(type(div))

1.5
<class 'float'>

In [23]:
#modulus
mod=a%b
print(mod)
print(type(mod))

10
<class 'int'>

In [24]:
#exponential 
a=9
b=2
exp=a**b
print(exp)

81

In [25]:
a=9
b=1/2
exp=a**b
print(exp)

3.0

In [26]:
#floor division 
a=300
b=20
div=a//b
print(div)
print(type(div))

15
<class 'int'>

In [27]:
a=30
b=20
div=a//b
print(div)
print(type(div))

1
<class 'int'>

Order of precedence

Arithmetic Operators in Python follow a basic order of precedence.

When more than one operator is used, they are executed according to below order.

() Parentheses

** Exponent

%, *, /, // Modulos, Multiplication, Division and Floor division

+,- Addition and Subtraction

Note : The operator listed at the top of the table will be executed first.

In [28]:
print (((2 + 4) / 3) ** 2 + 6 // 3)

6.0

7. String operations

In [29]:
str1="Hello Learners!!"
str2="Welcome to Python Session."
str3=str1+" "+str2
print(str3)

Hello Learners!! Welcome to Python Session.

In [31]:
#We can assign a multiline string to a variable by using three quotes.

a="""Hello
Learners!!
Welcome
to Python Session."""
print(a)

Hello
Learners!!
Welcome
to Python Session.

In [32]:
a='''Hello
Learners!!
Welcome
to Python Session.'''
print(a)

Hello
Learners!!
Welcome
to Python Session.

In [33]:
s1="welcome to python session"
result=s1.capitalize()
print(result)

Welcome to python session

In [34]:
s1="wElcome To PyThon seSsiOn"
result=s1.casefold()
print(result)

welcome to python session

In [35]:
s1="Python"
result=s1.center(20,"-")
print(result)

-------Python-------

In [36]:
s1="I love python,python is one of the most used language in data science"
result=s1.count("python")
print(result)

2

In [37]:
s1="I love python,python is one of the most used language in data science"
result=s1.find("python")
print(result)

7

In [38]:
s1="I got {n:.2f} points in python test."
print(s1.format(n=68))

I got 68.00 points in python test.

In [39]:
s1="I love python,python is one of the most used language in data science"
result=s1.index("python")
print(result)

7

In [40]:
s1="123"
s2="Python1000"
s3="Python"
print(s1.isalnum())
print(s2.isalnum())
print(s3.isalnum())

True
True
True

In [41]:
s1="123"
s2="Python1000"
s3="Python"
print(s1.isalpha())
print(s2.isalpha())
print(s3.isalpha())

False
False
True

In [42]:
s1="123"
s2="Python1000"
s3="Python"
print(s1.isnumeric())
print(s2.isnumeric())
print(s3.isnumeric())

True
False
False

In [43]:
s1="100"
print(s1.isdigit())

True

In [44]:
s1="Python"
print(s1.islower())

False

In [45]:
s1="welcome"
print(s1.istitle())

False

In [46]:
s1="PYTHON"
print(s1.isupper())

True

In [47]:
list1=['Hello','Welcome','Python']
print(";".join(list1))

Hello;Welcome;Python

In [48]:
s1="PYTHON"
result=s1.lower()
print(result)

python

In [49]:
s1="python"
result=s1.upper()
print(result)

PYTHON

In [50]:
s1="    python       "
result=s1.lstrip()
print(result)

python

In [51]:
s1="python"
result=s1.title()
print(result)

Python

In [52]:
s1="    python       "
result=s1.rstrip()
print(result)

    python

In [53]:
s1="    python       "
result=s1.strip()
print(result)

python

8. Taking input and printing output

In [54]:
a=5
print("This is the value of a",a)

This is the value of a 5

In [56]:
name=input("Enter your name:")
print("Hello ",name)

Hello  k

In [57]:
name=input("Enter your name:")
print("Hello ",name)
print(type(name))

Hello  kapil
<class 'str'>

In [58]:
num=int(input("Enter one number:"))
print(type(num))
sum=num+10
print(sum)

<class 'int'>
14

In [59]:
str1="Hello Learners"
a,b=str1.split()
print(a)
print(b)

Hello
Learners

In [60]:
a,b,c=map(int,input("Enter three number:").split())
print(a)
print(b)
print(c)

2
4
6

In [61]:
x,y=input("Enter full name: ").split()
print("First name : ",x)
print("last name : ",y)
print("Full name : ",x+" "+y)

First name :  kapil
last name :  kumar
Full name :  kapil kumar

In [62]:
print("Hello"*10)

HelloHelloHelloHelloHelloHelloHelloHelloHelloHello

In [63]:
name=input("Please enter your name")
print(f'Hello {name} ! how are you ?')

Hello kapil kumar ! how are you ?

In [64]:
x=5
y=10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [65]:
print('I love {0} and {1}'.format('python','programming'))
print('I love {1} and {0}'.format('python','programming'))

I love python and programming
I love programming and python

In [66]:
print('Hello {name},welcome to {course}'.format(course='Python Programming',name='John'))

Hello John,welcome to Python Programming

using % operator.

In [67]:
num=int(input("Please enter number:"))
sum=num+100
print("The sum is %d" %sum)

The sum is 103

Integer = %d

Float = %f

string = %s

hexadecimal = %x

octa = %o

In [68]:
num=10.68675
print("The value of num is %2.2f" %num)
print("The value of num is %2.3f" %num)

The value of num is 10.69
The value of num is 10.687

In [69]:
num1=5
print("The result value is",num1*1.25)

The result value is 6.25

In [70]:
students= 1000
print("This cousre is having " + str(students) + " students")

This cousre is having 1000 students

9. Python Operators

Python has different type of operators in the following groups:

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators

after this we can seardch on google